

/* General */

.floating-img{
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}
.meetLogo{
  float: right;
  margin: -5px 5px 0 0;
}
.patientTodayBox{
  color: white;
  background-color: #4e7de3;
  width: 650px;
  padding: 18px 6px 18px 26px;
  font-weight: 600; 
  margin: 0 auto;
  /* margin: 12px 0 15px 30px; */
  border-radius: 10px;
  text-align: left;
  font-size: 18px;
}
.patientTodayBack{
  padding: 18px 6px 18px 26px;
  font-weight: 600; 
  background-color: #b3c9fa;
  margin: 0 auto;
  /* margin: 12px 0 15px 30px; */
  border-radius: 10px;
  text-align: left;
  font-size: 18px;
}
.patientTodayBack Button:hover{
  color:rgb(255, 255, 255);
  background-color: red;
}
.react-calendar {
  border:none !important;
  border-radius: 10px;
  height: 270px;
  /* width: 650px  !important; */
  /* -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25); */
}
.close_button{
   position:absolute;
   float: right;
   right: -30px;
   top: -40px;
}
.circle-services{
  position: absolute;
  top: 12px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.circle-multi{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  /* margin-left: 80px; */
  margin: 0 auto;
  /* margin: 10px 0px 20px 0px; */
}
.react-calendar__tile--now {
  background: #4e7de3 !important;
  color:white;
  border-radius: 20px;
}
.services-container{
  background-color: white;
  height: 65px;
  line-height: 42px;
  border-radius: 15px;
  width: 270px;
  margin:0 auto;
  margin-bottom:45px;
  display: flex;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(162, 162, 162, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(162, 162, 162, 0.25);
  transition: box-shadow .2s ease-in;


    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.services-container:hover {
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  top: -5px;

}
.mission{
  text-align: center;
  line-height: 30px;
  padding-right: 90px;
  font-size: 17px;
}
.mission h4{
  padding: 20px 0 10px 0;
}
#whoAreWe{
  margin: 70px 0 10px 0;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  /* width: 100%; */
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.title-main{
  font-size:3.3vw;
  font-weight:600;
  letter-spacing: -2px;
background: #2974ed;
background: linear-gradient(to right, #2974ed 39%, #a34ebe 55%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
/* margin:60px 0 40px 0; */
padding:60px 0 40px 0;
}
.welcome{
  font-size:3.0vw;
  font-weight:600;
  letter-spacing: -2px;
background: #2974ed;
background: linear-gradient(to right, #2974ed 0%, #a34ebe 20%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding: 30px 0 0px 60px;
}
.react-calendar__tile--active{
  background: #c0b6f5 !important;
  border-radius: 20px;
}
:root {
  --lightPurple: #f4ecff;
  --darkPurple: #72188e;
  --lightBlue: #f8faff;
  --babyBlue: #f3f7ff;
  --darkBlue: #4e7de3;
  --royalBlue: #1b53ac;
}
.prescription{
  border-top-right-radius: 10px;
  padding: 15px;
  width: 50vw;
  border-bottom-right-radius: 10px;
  background-color:var(--babyBlue);
  border-left:5px solid var(--royalBlue);
}
.prescription-date h4,.prescription-date h6{
  color: var(--royalBlue);
  text-align: center;
  margin-right: 22px;
  font-weight: bold;
}

.vitalTitle{
  font-weight: 600;
  font-size: 20px;
  color: var(--royalBlue);
}
.vitals-container{
  display:inline-flex;
  border-radius: 20px;
  padding:22px 45px 22px 30px;
  width: 70vw;
  margin-right: -260px;
  background-color: white;
  margin-left: 2vw;
}
.profile-card{
  border-radius: 20px;
  width:20vw;
  background-color:var(--darkPurple);
  margin-left: 60px;
  padding:20px 30px 20px 30px;
}
.profile-card *{
  color: white;
}
.parallax{
  background: white;
  padding: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
.shadow {
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
}
.timeSlotBox{
  background-color: white;
  border-radius: 10px;
  padding: 7px 14px;
  color: black;
  float:right;
  right: -30px;
  font-weight: 500;
}
.multiBox{
  color: white;
  background-color: rgb(180, 112, 216);
  width: 250px;
  height: 180px;
  margin: 50px 14px;
  padding: 25px 26px;
  font-weight: 800;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}
.corner-blob{
  float:right;
  height: 120vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.multiBox p{
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 70%;
}
.hex {
  display: flex;
  position: relative;
  width: 240px;
  height: 265px;
  background-color: #03627d;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.smallHex{
  width: 160px;
  height: 165px;
}
.wave{
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-image: url('./img/wave-9.svg');
}
/* RMP Dashboard */
.rmpNotiBox {
  color: white;
  background-color: palevioletred;
  width: 450px;
  padding: 18px 26px;
  font-weight: 600;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
  font-size: 18px;
}
