.floating-img {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
.meetLogo {
  float: right;
  position: relative;
  top: -15px;
}
.patientTodayBox {
  background-color: white;
  width: 650px;
  padding: 18px 6px 18px 26px;
  font-weight: 600;
  margin: 0 auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: left;
  border-left: 7px solid var(--blue);

  font-size: 18px;
}
.patientTodayBack {
  padding: 18px 6px 18px 26px;
  font-weight: 600;
  border-left: 7px solid #d9381e;
  background-color: white;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
}
.patientTodayBack Button:hover {
  color: rgb(255, 255, 255);
  background-color: red;
}
.cSdDRL {
  padding: 50px 60px;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  margin-left: 0;
  padding-left: 2rem;
}
.booking-time-container {
  display: inline-grid;
  padding: 20px;
  border-radius: 20px;
  grid-template-columns: auto auto auto;
}
.react-calendar {
  border: none !important;
  border-radius: 14px;
  padding: 5px 10px;
  width: 1300px !important;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(117, 117, 117, 0.25);
  box-shadow: 0px 2px 5px 0px rgba(75, 75, 75, 0.25);
  height: 325px;
}
.close_button {
  position: absolute;
  float: right;
  right: -10px;
  top: -14px;
}
.circle-services {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.circle-multi {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin: 0 auto;
}
.react-calendar__tile--now {
  background: #4e7de3 !important;
  color: white;
  border-radius: 20px;
}
.services-container {
  background-color: white;
  height: 65px;
  line-height: 42px;
  border-radius: 15px;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 45px;
  display: flex;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(162, 162, 162, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(162, 162, 162, 0.25);
  transition: box-shadow 0.2s ease-in;

  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.servicesOuterBox{
  display: inline-flex;
  width: 100vw;
  flex-flow: wrap;
  justify-content:center;
}

.services-container:hover {
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  top: -5px;
}
.servicesInnerBox{
  display:inline-flex;
  width:20vw;
  min-width:60rem;
  flex-flow: wrap;
}
.mission {
  margin-top: 5rem;
  text-align: center;
  line-height: 2rem;
  width: 60rem;
  font-size: 17px;
}
.mission h4 {
  padding: 20px 0 10px 0;
  text-align: center;
}
#whoAreWe {
  margin-top: 3rem;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.react-calendar__navigation {
  margin-bottom: 0;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 1rem;
}
.title-main {
  font-size: 5vw;
  font-weight: 600;
  letter-spacing: -2px;
  background-image: linear-gradient(60deg, #0846da, #5ff2fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: 60px 0 40px 0;
}
.subTitle-main {
  font-size: 3vw;
  font-weight: 600;
  background-image: linear-gradient(60deg, #0846da, #5ff2fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: 60px 0 40px 0;
}
@media screen and (max-width: 600px) {
  .title-main {
    font-size: 6.5vw;
  }
  .subTitle-main {
    font-size: 6vw;
  }
  .servicesOuterBox{
    width: 100vw;
    align-items: center;
  }
  .servicesInnerBox{
    width:40vw;
    flex-direction: column;
  }
  .services-container {
    font-size: 3.7vw;
  }
}

.welcome {
  font-size: 3vw;
  font-weight: 600;
  letter-spacing: -2px;
  background: #2974ed;
  background: linear-gradient(to right, #2974ed 0%, #a34ebe 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 30px 0 0px 60px;
}
.react-calendar__tile--active {
  background: #c0b6f5 !important;
  border-radius: 20px;
}
.react-calendar__tile {
  padding: 12px 18px !important;
}
:root {
  --babyPurple: #f8f3ff;
  --lightPurple: #9241ce;
  --lavender: #55289f;
  --lightLavender: #6b1bac;

  --lightBlue: #f8faff;
  --blue: #1665c0;
  --babyBlue: #f3f7ff;
  --darkBlue: #3e37c9d9;
}
.css-3fvyzq-MuiButtonBase-root-MuiButton-root {
  border: 1px solid #1b53ac;
}
.bg-light {
  background-color: white !important;
}
.booking-confirm-container {
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: fit-content;
  border-radius: 20px;
  font-size: 18px;
  margin: 0 auto;
  padding: 40px;
}

.bookingTime {
  font-weight: bold;
  color: white;
  margin: 12px 35px;
  padding: 12px 35px;
  border-radius: 10px;
  background-color: var(--lightLavender);
}
.language {
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  margin-top: 6px;
  float: right;
}
.specialization {
  font-weight: 400;
  font-size: 14px;
}
.prescription {
  border-top-right-radius: 10px;
  padding: 5px 25px;
  width: 45rem;
  border-bottom-right-radius: 10px;
  background-color: var(--lightBlue);
  border-left: 5px solid var(--blue);
}
.prescription-date h4,
.prescription-date h6 {
  color: var(--blue);
  text-align: center;
  margin-right: 22px;
  font-weight: bold;
}
.prescription p {
  margin-bottom: 12px;
}
.vitalTitle {
  font-weight: 600;
  font-size: 20px;
  margin: 25px 0 4px 0;
  color: var(--blue);
}
.css-1kuq5xv-MuiButtonBase-root-MuiIconButton-root {
  margin: 5px;
}
.vitals-container {
  display: inline-flex;
  border-radius: 20px;
  padding: 22px 45px 22px 30px;
  width: 70vw;
  margin-right: -260px;
  background-color: white;
  margin-left: 2vw;
}
html {
  scroll-behavior: smooth;
}
.profile-card {
  border-radius: 20px;
  width: 32rem;
  height: fit-content;
  background-color: var(--blue);
  margin-left: 60px;
  padding: 40px 30px 40px 30px;
}
.profile-card * {
  color: white;
}
.parallax {
  background: white;
  padding: 20;
  position: absolute;
  margin-top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shadow {
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
}
.timeSlotBox {
  background-color: var(--blue);
  border-radius: 10px;
  padding: 7px 14px;
  color: rgb(255, 255, 255);
  float: right;
  right: -30px;
  font-weight: 500;
}
.multiBox {
  color: white;
  background-color: rgb(180, 112, 216);
  width: 250px;
  height: 180px;
  margin: 50px 14px;
  padding: 25px 26px;
  font-weight: 800;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}
.corner-blob {
  float: right;
  height: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.multiBox p {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 70%;
}
.hex {
  display: flex;
  position: relative;
  width: 240px;
  height: 265px;
  background-color: #03627d;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.smallHex {
  width: 160px;
  height: 165px;
}
.wave {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./img/wave-9.svg");
}
.rmpNotiBox {
  background-color: white;
  width: 450px;
  padding: 18px 26px;
  font-weight: 600;
  margin: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 7px solid var(--blue);

  text-align: left;
  font-size: 18px;
}

.login-button a:hover {
  color: white;
}
