

/* General */

.floating-img{
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}
.meetLogo{
  float: right;
  margin: -5px 5px 0 0;
}
.patientTodayBox{
  color: white;
  background-color: #4e7de3;
  width: 650px;
  padding: 18px 6px 18px 26px;
  font-weight: 600; 
  margin: 0 auto;
  /* margin: 12px 0 15px 30px; */
  border-radius: 10px;
  text-align: left;
  font-size: 18px;
}
.patientTodayBack{
  padding: 18px 6px 18px 26px;
  font-weight: 600; 
  background-color: #b3c9fa;
  margin: 0 auto;
  /* margin: 12px 0 15px 30px; */
  border-radius: 10px;
  text-align: left;
  font-size: 18px;
}
.patientTodayBack Button:hover{
  color:rgb(255, 255, 255);
  background-color: red;
}
.react-calendar {
  border:none !important;
  border-radius: 10px;
  height: 270px;
  /* width: 650px  !important; */
  /* -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25); */
}
.close_button{
   position:absolute;
   float: right;
   right: -30px;
   top: -40px;
}
.circle-services{
  position: relative;
  top: 5px;
  left: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  /* margin-left: 80px; */
  margin: 0 auto;
  /* margin: 10px 0px 20px 0px; */
}
.circle-multi{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  /* margin-left: 80px; */
  margin: 0 auto;
  /* margin: 10px 0px 20px 0px; */
}
.react-calendar__tile--now {
  background: #4e7de3 !important;
  color:white;
  border-radius: 20px;
}
.services-container{
  background-color: white;
  height: 50px;
  border-radius: 15px;
  width: 250px;
  margin:0 auto;
  margin-bottom:40px;

  display: flex;
}
.title-main{
  text-align: center;
  margin:60px 0 40px 0;
  font-size:40;
  color:var(--royalBlue);
}
.react-calendar__tile--active{
  background: #c0b6f5 !important;
  border-radius: 20px;
}
:root {
  --lightBlue: #f8faff;
  --babyBlue: #ebf2fe;
  --darkBlue: #4e7de3;
  --royalBlue: #1b53ac;
}
.parallax{
  background: white;
  padding: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
.shadow {
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
}
.timeSlotBox{
  background-color: white;
  border-radius: 10px;
  padding: 7px 14px;
  color: black;
  float:right;
  right: -30px;
  font-weight: 500;
}
.multiBox{
  color: white;
  background-color: rgb(180, 112, 216);
  width: 250px;
  height: 180px;
  margin: 50px 14px;
  padding: 25px 26px;
  font-weight: 800;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}

.multiBox p{
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 70%;
}
.hex {
  display: flex;
  position: relative;
  width: 240px;
  height: 265px;
  background-color: #03627d;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.smallHex{
  width: 160px;
  height: 165px;
}
.wave{
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-image: url('./img/wave-9.svg');
}
/* RMP Dashboard */
.rmpNotiBox {
  color: white;
  background-color: palevioletred;
  width: 450px;
  padding: 18px 26px;
  font-weight: 600;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
  font-size: 18px;
}
