

/* General */

.floating-img{
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}
.meetLogo{
  float: right;
  margin: -5px 5px 0 0;
}
.patientTodayBox{
  color: white;
  background-color: palevioletred;
  width: 750px;
  padding: 18px 26px;
  font-weight: 600;
  margin: 0 auto;
  margin: 0px 0 15px 30px;
  border-radius: 10px;
  text-align: left;
  font-size: 18px;
}
.react-calendar {
  border:none !important;
  border-radius: 17px;
  height: 270px;
  /* width: 650px  !important; */
  /* -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25); */
}
.close_button{
  /* position:fixed;
  top:10px;
  z-index:100; */
}
.react-calendar__tile--now {
  background: rgb(239, 210, 239) !important;
}
:root {
  --lightBlue: #f8faff;
}
.shadow {
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
}
.timeSlotBox{
  background-color: white;
  border-radius: 10px;
  padding: 7px 14px;
  color: black;
  float:right;
  font-weight: 500;
}
.multiBox{
  color: white;
  background-color: rgb(180, 112, 216);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 18px 26px;
  font-weight: 600;
  border-radius: 10px;
  text-align: left;
  font-size: 18px;
}

.hex {
  display: flex;
  position: relative;
  width: 240px;
  height: 265px;
  background-color: #03627d;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.smallHex{
  width: 160px;
  height: 165px;
}
.wave{
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-image: url('./img/wave-9.svg');
}
/* RMP Dashboard */
.rmpNotiBox {
  color: white;
  background-color: palevioletred;
  width: 450px;
  padding: 18px 26px;
  font-weight: 600;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
  font-size: 18px;
}
