* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/*Background Color Animation*/

html,
body {
  font-family: sans-serif;
  font-size: 100%;
}

html,
body,
.wrapper,
.sct {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(22, 185, 185);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #2d2d2d;
}

input:active,
input:focus,
input:visited,
input:hover {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  /* padding: 1.8rem 1.6rem; */
  background: #fff;
  border: 1px solid rgb(212, 212, 212);
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(78, 78, 78);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 1rem;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.login-img{
  position: absolute;
  margin-right: 30px;
  top: 25%;
  width: 700px;
  right:0;
}
input[type="submit"] {
  display: block;
  width: 100%;
  margin: 1.5rem 0;
  padding: 0.9rem;
  background-image: linear-gradient(
    to right,
    #1a5dc8 0%,
    #72188e 51%,
    #1a5dc8 100%
  );

  border: 1px solid rgb(212, 212, 212);
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(247, 247, 247);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 1rem;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:visited {
  background-image: linear-gradient(
    to right,
    #1a5dc8 0%,
    #72188e 51%,
    #1a5dc8 100%
  );
  margin: 30px 20px 30px 0px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
input[type="submit"]:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
button,
input[type="submit"] {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

form > h3 {
  text-align: center;
}

.forgot-remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "centerLeft centerRight";
}

.sct {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  grid-area: centerLeft;
  /* background-color: #da1c88;
  background-image: linear-gradient(
    to right,
    #c33764 0%,
    #1d2671 51%,
    #c33764 100%
  ); */
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #c33764 0%,
    #1d2671 51%,
    #c33764 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.centerlogo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
.brand > h3 {
    line-height: 60px;
  font-weight: 800;
  color: #fff;
}

.login {
  grid-area: centerRight;
  width: 30%;
}

.login > form {
  width: 400px;
  margin: 0 3rem;
}

/*Checkbox*/

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #0e6647;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}

/*Social Sign Up*/

.social-sign {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 40px;
}

.social-sign a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

.social-sign > a:nth-child(2) {
  margin: 0 0.5rem;
}

.fa-hand-o-down {
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(20%, 80vmax);
    grid-template-areas:
      "centerLeft"
      "centerRight";
  }

  .login > form {
    width: 100%;
    margin: 0 3rem;
  }
}
*/ a {
  text-decoration: none;
  color: rgb(22, 185, 185);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #2d2d2d;
}

input:active,
input:focus,
input:visited,
input:hover {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.6rem 1.6rem;
  background: #fff;
  border: 1px solid rgb(212, 212, 212);
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(78, 78, 78);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 1rem;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
input[type="submit"] {
  background-image: linear-gradient(
    to right,
    #1a5dc8 0%,
    #72188e 51%,
    #1a5dc8 100%
  );
  margin: 30px 20px 30px 0px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

input[type="submit"] :hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:visited,
input[type="submit"]:hover {
  background-image: linear-gradient(
    to right,
    #1a5dc8 0%,
    #72188e 51%,
    #1a5dc8 100%
  );
}

button,
input[type="submit"] {
  cursor: pointer;
}

.text-center {
  text-align: center;
  margin-bottom: 15px;
}

form > h3 {
  text-align: center;
}

.forgot-remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "centerLeft centerRight";
}
.cornerBg{
  background-image:url("/public/img/cornerBlob9.svg");
  background-size:cover;
  height: 93vh;
  margin-top: -20px;
  background-repeat: no-repeat;
}
.sct {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  grid-area: centerLeft;
  background-color: #2d2d2d;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* background-color: #da1c88; */
  /* background-image: linear-gradient(60deg,     #1a5dc8 20%,
  #72188e 90%); */
}

.brand > h3 {
  padding: 0.75rem;
  font-weight: 800;
  text-align: center;
  /* outline: 3px solid #fff; */
  color: #fff;
}

.login {
  grid-area: centerRight;
}

.login > form {
  width: 400px;
  margin: 0 3rem;
}

/*Checkbox*/

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #0e6647;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}

/*Social Sign Up*/

.social-sign {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.social-sign a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin:0px 6px;
  font-size: 2rem;
}

.social-sign > a:nth-child(2) {
  margin: 0 0.5rem;
}

.fa-hand-o-down {
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(20%, 80vmax);
    grid-template-areas:
      "centerLeft"
      "centerRight";
  }

  .login > form {
    width: 100%;
    margin: 0 3rem;
  }
}
